# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode7.3
language: objective-c

env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8


before_install:
    - env
    - locale
    - gem install cocoapods --no-rdoc --no-ri --no-document --quiet
    - gem install xcpretty --no-rdoc --no-ri --no-document --quiet
    - pod --version
    - pod setup --silent > /dev/null
    - pod repo update --silent
    - xcpretty --version
    - xcodebuild -version
    - xcodebuild -showsdks


script:
- pod lib lint --use-libraries
- pod install
- xcodebuild clean build -workspace VideoPlsInterfaceViewSDK.xcworkspace -scheme 'VPInterfaceControllerDemo' -configuration Debug -destination 'name=iPhone 6s' | xcpretty -c
